.user-info-sink{
    margin-top: 150px;
}
.box-shadow{
    -webkit-box-shadow:0 0 3px rgba(105, 105, 105, .6);
    -moz-box-shadow:0 0 3px rgba(105, 105, 105, .6);
    box-shadow:0 0 3px rgba(105, 105, 105, .6);
}
.page-header-no-bottom{
  padding-bottom: 9px;
  margin: 40px 0 20px;
}