
.box-shadow {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 3px rgba(129, 129, 129, 0.51);
    -moz-box-shadow: 0 0 3px rgba(129, 129, 129, 0.51);
    box-shadow: 0 0 3px rgba(129, 129, 129, 0.51);
}

.padding-20 {
    padding: 20px;
}

.page-header-no-bottom {
    position: relative;
    padding-top: 20px;
    padding-bottom: 9px;
    margin: 40px 0 20px;
}

.img-mask {
    width: 140px;
    height: 140px;
    margin: auto;
    border-radius: 6px;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s, background-color 0.5s;
    transition: opacity 0.5s, transform 0.5s, background-color 0.5s;
    -webkit-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
}

.img-mask:hover {
    background-color: rgba(120, 120, 120, 0.4);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.effect-avatar img {
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s, color 0.5s;
    transition: opacity 0.5s, transform 0.5s, color 0.5s;
    -webkit-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
}

.effect-avatar:hover img {
    opacity: 0.3;
    color: rgba(0, 0, 0, 0.58);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.effect-avatar p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1em;
    padding: 1em;
    max-width: 140px;
    color: #ffffff;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

.effect-avatar:hover p {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.position-abs-bottom {
    position: absolute;
    top: 0;
    right: 0;
}

.account-line{
    padding-bottom: 20px;
    margin: 30px 0;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
