{% macro pagination_widget(pagination, endpoint) %}

<ul class="pagination">
    {% if pagination.has_prev %}
        <li>
            <a href="{{ url_for(endpoint, page = pagination.page - 1, **kwargs) }}">&laquo;</a>
        </li>
    {% else %}
        <li class="disabled">
            <a href="#">&laquo;</a>
        </li>
    {% endif %}

    {% for p in pagination.iter_pages() %}
        {% if p %}
            <li{% if p == pagination.page %} class="active"{% endif %}>
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="#">&hellip;</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
        <li>
            <a href="{{ url_for(endpoint, page = pagination.page + 1, **kwargs) }}">&raquo;</a>
        </li>
    {% else %}
        <li class="disabled">
            <a href="#">&raquo;</a>
        </li>
    {% endif %}
</ul>

{% endmacro %}