<ul class="posts">
    {% for post in posts %}
        <li class="box-shadow padding-post">

            <div class="post-header">
                <div class="post-header-author">
                    {# 头像 #}
                    <a class="grey" href="{{ url_for('main.profile', user_name=post.user.user_name) }}">
                        <img src="{{ url_for('static', filename="{subpath}/{filename}".format(subpath=current_app.config['USER_AVATAR_SUBPATH'],
                                                                                       filename=post.user.user_avatar_hash)) }}"
                             width="16" alt="{{ current_user.user_name }}"
                             class="img-rounded">
                    </a>
                    {# 昵称 #}
                    <a class="grey" href="{{ url_for('main.profile', user_name=post.user.user_name) }}">
                        {{ post.user.user_name }}
                    </a>
                    {# 简介 #}
                    {% if post.user.user_about_me %}
                        <span>，{{ post.user.user_about_me }}</span>
                    {% endif %}
                </div>
                {# 修改时间 #}
                <div class="post-header-timestamp">{{ moment(post.post_create_time).fromNow(refresh=True) }}</div>
                {# 编辑按钮 #}
                {% if current_user == post.user %}
                    <div class="post-header-edit-post">
                        <a class="grey" href="{{ url_for('main.edit_post', post_id=post.post_id) }}" target="_blank">
                            编辑文章
                        </a>
                    </div>
                {% elif current_user.is_administrator %}
                    <div class="post-header-edit-post">
                        <a class="grey" href="#" target="_blank">
                            [Admin]编辑文章
                        </a>
                    </div>
                {% endif %}
            </div>

            {# 文章题目 #}
            <div class="post-title">
                <h3>{{ post.post_title }}</h3>
            </div>

            {# 文章缩略 #}
            <div class="post-body"
                 onClick="javascript:window.open('{{ url_for('main.post', post_id=post.post_id) }}','_blank')">
                <p class="post-body-content">{{ post.post_body_text }}</p>
                <p class="text-center post-body-link">
                    <a class="grey" href="{{ url_for('main.post', post_id=post.post_id) }}" target="_blank">
                        点击打开文章
                    </a>
                </p>
                {# 半透明遮罩层 #}
                <div class="post-body-mask"></div>
            </div>

            {# 点赞及评论 #}
            <div class="post-footer">
                <a class="grey" href="#">
                    <span class="glyphicon glyphicon-triangle-top"></span>{{ post.post_upvote }}
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="grey" href="#">
                    <span class="glyphicon glyphicon-comment"></span>33条评论
                </a>
            </div>

        </li>
    {% endfor %}
</ul>