{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros/_macro_pagination_widget.html" as macros %}

{% block title %}
    Ocean - {{ post.post_title }} - 分享你沉浸的世界
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container">
        <ul class="posts">
            <li class="box-shadow padding-post">

                <div class="post-header">
                    <div class="post-header-author">
                        {# 头像 #}
                        <a class="grey" href="{{ url_for('main.profile', user_name=post.user.user_name) }}">
                            <img src="{{ url_for('static', filename="{subpath}/{filename}".format(subpath=current_app.config['USER_AVATAR_SUBPATH'],
                                                                                       filename=post.user.user_avatar_hash)) }}"
                                 width="16" alt="{{ current_user.user_name }}"
                                 class="img-rounded">
                        </a>
                        {# 昵称 #}
                        <a class="grey" href="{{ url_for('main.profile', user_name=post.user.user_name) }}">
                            {{ post.user.user_name }}
                        </a>
                        {# 简介 #}
                        {% if post.user.user_about_me %}
                            <span>，{{ post.user.user_about_me }}</span>
                        {% endif %}
                    </div>
                    {# 修改时间 #}
                    <div class="post-header-timestamp">{{ moment(post.post_create_time).fromNow(refresh=True) }}</div>
                    {# 编辑按钮 #}
                    {% if current_user == post.user %}
                        <div class="post-header-edit-post">
                            <a class="grey" href="{{ url_for('main.edit_post', post_id=post.post_id) }}">
                                编辑文章
                            </a>
                        </div>
                    {% elif current_user.is_administrator %}
                        <div class="post-header-edit-post">
                            <a class="grey" href="{{ url_for('main.edit_post', post_id=post.post_id) }}">
                                [Admin]编辑文章
                            </a>
                        </div>
                    {% endif %}
                </div>

                {# 文章题目 #}
                <div class="post-title">
                    <h2 align="center">{{ post.post_title }}</h2>
                </div>

                {# 文章内容 #}
                <div class="post-body-show-all">
                    <p class="post-body-content-show-all">{{ post.post_body_html | safe }}</p>
                </div>

                {# 点赞及评论 #}
                <div class="post-footer">
                    {% if current_user.is_anonymous %}
                        {# 匿名用户不可点击，显示禁用光标 #}
                        <a class="grey-disabled" href="javascript:void(0);">
                            <span class="glyphicon glyphicon-triangle-top"></span>{{ post.upvoters.count() }}
                        </a>
                    {% else %}
                        {# onclick触发ajax请求，刷新点赞状态 #}
                        <a class="grey{% if current_user.is_upvote(post) %} high-light{% endif %}"
                           href="javascript:void(0);"
                           onclick="ajax_upvote({{ post.post_id }}, this)">
                            <span class="glyphicon glyphicon-triangle-top"></span>{{ post.upvoters.count() }}
                        </a>
                    {% endif %}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="grey" href="#">
                        <span class="glyphicon glyphicon-comment"></span>33条评论
                    </a>
                </div>

            </li>
        </ul>

        {# 评论栏及分页 #}
        <ul class="posts box-shadow">
            <li class="comment">
                {{ wtf.quick_form(form) }}
            </li>
            {% for comment in comments %}
                <li class="comment">
                    <div class="post-header">
                        <div class="post-header-author">
                            {# 头像 #}
                            <a class="grey" href="{{ url_for('main.profile', user_name=comment.user.user_name) }}">
                                <img src="{{ url_for('static', filename="{subpath}/{filename}".format(subpath=current_app.config['USER_AVATAR_SUBPATH'],
                                                                                       filename=comment.user.user_avatar_hash)) }}"
                                     width="16" alt="{{ current_user.user_name }}"
                                     class="img-rounded">
                            </a>
                            {# 昵称 #}
                            <a class="grey" href="{{ url_for('main.profile', user_name=comment.user.user_name) }}">
                                {{ comment.user.user_name }}
                            </a>
                            {# 简介 #}
                            {% if comment.user.user_about_me %}
                                <span>，{{ comment.user.user_about_me }}</span>
                            {% endif %}
                        </div>
                        {# 修改时间 #}
                        <div class="post-header-timestamp">{{ moment(comment.comment_create_time).fromNow(refresh=True) }}</div>
                        {# 禁用按钮 #}
                        {% if current_user.can(Permission.MANAGE_COMMENTS) %}
                            <div class="post-header-edit-post">
                                <a class="grey" href="#">[Admin]遮盖或恢复评论</a>
                            </div>
                        {% endif %}
                    </div>

                    {# 评论主体 #}
                    <div class="post-body-show-all">
                        {% if comment.comment_disabled == True %}
                            <p class="post-body-content-show-all"><strong>该评论被遮盖</strong></p>
                            {# 协管员还要显示评论 #}
                            {% if current_user.can(Permission.MANAGE_COMMENTS) %}
                                <p class="post-body-content-show-all">{{ comment.comment_body }}</p>
                            {% endif %}
                        {% else %}
                            <p class="post-body-content-show-all">{{ comment.comment_body }}</p>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}

            {# 分页插件 #}
            {% if pagination.has_prev or pagination.has_next %}
                <li class="comment">
                    {{ macros.pagination_widget(pagination, 'main.post', fragment='#comments', post_id=post.post_id) }}
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            {# 点击隐藏的文章表单提交按钮 #}
            $("#post-button").click(function () {
                $(".form-submit").trigger("click");
            });

            {# 解决ckeditor在boostrap/modal中弹框无法输入的问题 #}
            $.fn.modal.Constructor.prototype.enforceFocus = function () {
                modal_this = this;
                $(document).on('focusin.modal', function (e) {
                    if (modal_this.$element[0] !== e.target
                        && !modal_this.$element.has(e.target).length
                        && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_select')
                        && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
                        modal_this.$element.focus()
                    }
                })
            };
        });

        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $UPVOTE_ICON = '<span class="glyphicon glyphicon-triangle-top"></span>';
        function ajax_upvote(post_id, elem_a) {
            $.getJSON($SCRIPT_ROOT + '/upvote',
                {post_id: post_id},
                function (data) {
                    if (data.is_current_user_upvoted == true) {
                        $(elem_a).attr("class", "grey high-light");
                        //为了防止用户疑惑，不获取最新的点赞数，而是直接加1或减1
                        $(elem_a).text(parseInt($(elem_a).text()) + 1);
                    }
                    else {
                        $(elem_a).attr("class", "grey");
                        $(elem_a).text(parseInt($(elem_a).text()) - 1);
                    }
                    //点赞图标
                    $(elem_a).prepend($UPVOTE_ICON)
                });
        }
    </script>
{% endblock %}
