{% extends "base.html" %}
{% import "macros/_macro_pagination_widget.html" as macros %}

{% block title %}
    Ocean - {{ user.user_name }}个人主页
{% endblock %}

{% block page_content %}
    <div class="page-header-profile">
        <div class="container-fluid box-shadow page-header-no-bottom">

            <div class="col-md-2">
                <div class="row-fluid">
                    {% if current_user == user %}
                        <div class="img-mask center-block">
                            <figure class="effect-avatar">
                                <img src="{{ url_for('static', filename="{subpath}/{filename}".format(subpath=current_app.config['USER_AVATAR_SUBPATH'],
                                                                                                      filename=user.user_avatar_hash)) }}"
                                     class="img-rounded center-block" width="140" alt="{{ user.user_name }}"/>
                                <figcaption>
                                    <p>修改头像</p>
                                </figcaption>
                            </figure>
                        </div>
                    {% else %}
                        <figure class="effect-avatar-opacity-1">
                            <img src="{{ url_for('static', filename="{subpath}/{filename}".format(subpath=current_app.config['USER_AVATAR_SUBPATH'],
                                                                                                  filename=user.user_avatar_hash)) }}"
                                 class="img-rounded center-block" width="140" alt="ddd"/>
                        </figure>
                    {% endif %}

                    <br/>
                    <form method=POST enctype=multipart/form-data hidden="hidden"
                          action="{{ url_for('main.profile', user_name=user.user_name) }}">
                        <input type=file name=photo class="btn btn-default" id="upload-file">
                        <input type=submit class="btn btn-default">
                    </form>
                    <p class="text-center">
                        {{ user.user_name }}
                    </p>
                </div>
            </div>

            <div class="col-md-8">
                <p>
                    {% if user.user_location %}
                        {{ user.user_location }}&nbsp;&nbsp;
                    {% endif %}
                    上次登录：{{ moment(user.user_last_seen).fromNow(refresh=True) }}
                </p>
                <p class="text-left lead">
                    {% if user.user_about_me %}
                        {{ user.user_about_me }}
                    {% else %}
                        这个煞笔什么都没有写~
                    {% endif %}
                </p>
            </div>

            <div class="col-md-2">
                {% if current_user.is_administrator %}
                    <a class="btn btn-block btn-danger"
                       href='{{ url_for('main.edit_profile_admin', uid=user.user_id) }}'>
                        编辑资料[Admin]
                    </a>
                {% elif current_user == user %}
                    <a class="btn btn-block btn-default" href='{{ url_for('main.edit_profile') }}'>
                        编辑个人资料
                    </a>
                {% endif %}
                {# 显示关注按钮 #}
                {% if (not current_user.is_anonymous) and current_user != user %}
                    {# 互相未关注 #}
                    {% if not current_user.is_following(user) and not user.is_following(current_user) %}
                        <a class="btn btn-block btn-default" type="button"
                           href="{{ url_for('main.follow', user_name=user.user_name) }}"
                           onmouseenter="showFollow(this)" onmouseleave="reset_to_unfollow(this)">
                            关注
                        </a>
                    {# cur_user关注了user #}
                    {% elif current_user.is_following(user) and not user.is_following(current_user) %}
                        <a class="btn btn-block btn-default" type="button"
                           href="{{ url_for('main.unfollow', user_name=user.user_name) }}"
                           onmouseenter="showUnfollow(this)" onmouseleave="reset_to_following(this)">
                            已关注
                        </a>
                    {# user关注了cur_user #}
                    {% elif user.is_following(current_user) and not current_user.is_following(user) %}
                        <a class="btn btn-block btn-default" type="button"
                           href="{{ url_for('main.follow', user_name=user.user_name) }}"
                           onmouseenter="showFollow(this)" onmouseleave="reset_to_followed(this)">
                            关注了你
                        </a>
                    {# 互相关注 #}
                    {% elif current_user.is_following(user) and user.is_following(current_user) %}
                        <a class="btn btn-block btn-default" type="button"
                           href="{{ url_for('main.unfollow', user_name=user.user_name) }}"
                           onmouseenter="showUnfollow(this)" onmouseleave="reset_to_follow_each_other(this)">
                            互相关注
                        </a>
                    {% endif %}
                {% endif %}
                {# 显示关注人数 #}
                <a class="grey" href="#">关注: {{ user.followed.count() }}</a>
                <a class="grey" href="#">粉丝: {{ user.followers.count() }}</a>
            </div>
        </div>
    </div>


    {# 显示文章列表 #}
    {% include "post/_posts.html" %}

    {# 分页插件 #}
    {% if pagination %}
        <div>
            {{ macros.pagination_widget(pagination, 'main.profile', user_name=user.user_name) }}
        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('#upload-file').change(function () {
                $(this).closest('form').submit();
            });
            $('.img-mask').click(function () {
                $('#upload-file').trigger('click');
            })
        });

        //onmouseenter改变关注按钮
        function showFollow(elem_a) {
            $(elem_a).text('关注');
        }

        function showUnfollow(elem_a) {
            $(elem_a).text('取消关注');
        }

        //onmouseleava恢复关注按钮
        function reset_to_unfollow(elem_a) {
            $(elem_a).text('关注');
        }

        function reset_to_following(elem_a) {
            $(elem_a).text('已关注');
        }

        function reset_to_followed(elem_a) {
            $(elem_a).text('关注了你');
        }

        function reset_to_follow_each_other(elem_a) {
            $(elem_a).text('互相关注');
        }
    </script>
{% endblock %}
