{% macro pagination_widget(pagination, endpoint, fragment='') %}

    {# 只有一页不显示分页栏 #}
    {% if pagination.has_prev or pagination.has_next %}
        <ul class="pagination">

            {# 上一页 #}
            {% if pagination.has_prev %}
                <li>
                    <a href="{{ url_for(endpoint, page = pagination.prev_num, **kwargs) }}{{ fragment }}">&laquo;</a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="#">&laquo;</a>
                </li>
            {% endif %}

            {# 页签 #}
            {% for p in pagination.iter_pages() %}
                {% if p %}
                    <li{% if p == pagination.page %} class="active"{% endif %}>
                        <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href="#">&hellip;</a>
                    </li>
                {% endif %}
            {% endfor %}

            {# 下一页 #}
            {% if pagination.has_next %}
                <li>
                    <a href="{{ url_for(endpoint, page = pagination.next_num, **kwargs) }}{{ fragment }} ">&raquo;</a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="#">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

{% endmacro %}