{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros/_macro_pagination_widget.html" as macros %}

{% block content %}
    {{ super() }}
    <div class="container">
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
            <div class="box-shadow padding-20">
                <a class="grey" data-toggle="modal" data-target="#writeArticleDialog">
                    <span class="glyphicon glyphicon-edit"></span>
                    发表一篇水滴
                </a>
            </div>
        {% endif %}

        {# 显示文章列表 #}
        {% include "post/_posts.html" %}

        {# 分页插件 #}
        {% if pagination %}
            <div>
                {{ macros.pagination_widget(pagination, 'main.index') }}
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            {# 点击隐藏的文章表单提交按钮 #}
            $("#post-button").click(function () {
                $(".form-submit").trigger("click");
            });

            {# 解决ckeditor在boostrap/modal中弹框无法输入的问题 #}
            $.fn.modal.Constructor.prototype.enforceFocus = function () {
                modal_this = this;
                $(document).on('focusin.modal', function (e) {
                    if (modal_this.$element[0] !== e.target
                        && !modal_this.$element.has(e.target).length
                        && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_select')
                        && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
                        modal_this.$element.focus()
                    }
                })
            };
        });

    </script>
{% endblock %}