{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros/_macro_pagination_widget.html" as macros %}

{% block content %}
    {{ super() }}
    <div class="container">
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
            <div class="padding-5">
                <a class="grey font-size-16" href="{{ url_for('main.show_all') }}">
                    {% if show_followed %}最新{% else %}<u>最新</u>{% endif %}
                </a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a class="grey font-size-16" href="{{ url_for('main.show_followed') }}">
                    {% if show_followed %}<u>关注</u>{% else %}关注{% endif %}
                </a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a class="grey font-size-16" data-toggle="modal" data-target="#writeArticleDialog">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    发表一篇水滴
                </a>
            </div>
        {% endif %}

        {# 显示文章列表 #}
        {% include "post/_posts.html" %}

        {# 分页插件 #}
        {% if pagination.has_prev or pagination.has_next %}
            <div>
                {{ macros.pagination_widget(pagination, 'main.index') }}
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            {# 点击隐藏的文章表单提交按钮 #}
            $("#post-button").click(function () {
                $(".form-submit").trigger("click");
            });

            {# 解决ckeditor在boostrap/modal中弹框无法输入的问题 #}
            $.fn.modal.Constructor.prototype.enforceFocus = function () {
                modal_this = this;
                $(document).on('focusin.modal', function (e) {
                    if (modal_this.$element[0] !== e.target
                        && !modal_this.$element.has(e.target).length
                        && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_select')
                        && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
                        modal_this.$element.focus()
                    }
                })
            };
        });

        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $UPVOTE_ICON = '<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>';

        function ajax_upvote(post_id, elem_a) {
            $.getJSON($SCRIPT_ROOT + '/upvote',
                {post_id: post_id},
                function (data) {
                    if (data.is_current_user_upvoted == true) {
                        $(elem_a).attr("class", "grey high-light");
                        //为了防止用户疑惑，不获取最新的点赞数，而是直接加1或减1
                        $(elem_a).text(parseInt($(elem_a).text()) + 1);
                    }
                    else {
                        $(elem_a).attr("class", "grey");
                        $(elem_a).text(parseInt($(elem_a).text()) - 1);
                    }
                    //点赞图标
                    $(elem_a).prepend($UPVOTE_ICON)
                });
        }
    </script>
{% endblock %}